:root {
  font-family: 'Courier New', Courier, monospace;
  line-height: 1.5;
  font-weight: 400;

}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: gainsboro;
  cursor: pointer;
}

.boggle-board {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 200px;
  margin: 20px auto;
}

.cell {
  width: 50px;
  height: 50px;
  border: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  background-color: #fff;
  cursor: pointer;
}









